* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  padding: 60px;
}

select {
  height: 25px;
}

select option {
  text-align: center;
}

.message {
  margin: 10px;
  text-align: center;
  padding: 80px;
}

.message p {
  font-size: larger;
  font-weight: bold;
}

.table-container {
  padding: 1.2rem;
  margin: 10px;
}

.modal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.modal-content {
  width: 500px;
  background-color: #fff;
}

.modal-header {
  padding: 10px !important;
}

.modal-footer {
  padding: 10px !important;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-radius: 1px solid #eee;
}

button {
  margin: 10px;
}